In [2]:
import pandas as pd
import seaborn as sns

mpg = sns.load_dataset('mpg')
mpg.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite

In [4]:
# groupby - cylinders별 마력의 평균
    # name 별 연식의 평균
    # name이 공백을 기준으로

mpg.groupby('cylinders')['horsepower'].mean()
mpg['name'].str.split()

0      [chevrolet, chevelle, malibu]
1              [buick, skylark, 320]
2              [plymouth, satellite]
3                  [amc, rebel, sst]
4                     [ford, torino]
                   ...
393              [ford, mustang, gl]
394                     [vw, pickup]
395                 [dodge, rampage]
396                   [ford, ranger]
397                    [chevy, s-10]
Name: name, Length: 398, dtype: object

In [ ]:
mpg.set_index('make')